<div class="product-listy">
    <h2>Browse By Brand</h2>
    <ul class="product-list">
        {% for brand in brands %}
        <li><a href="/brands/{{ brand.id }}">{{ brand.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<h3 class="like text-center">{{ featured.title }}</h3>
<ul id="flexiselDemo3">
    {% for p in featured.products %}
    <li>
        <a href="/products/{{ p.id }}">
            <img src="{{p.mainPhoto.url}}" style="width: 220px;" class="img-responsive"/>
        </a>
        <div class="product liked-product simpleCart_shelfItem">
            <a class="like_name" href="/products/{{ p.id }}">{{ p.title }}</a>
            <p><a class="item_add add_to_cart_button" href="#" data-product_id="{{p.id}}"><i></i>
             <span class=" item_price">$ {{ p.price }}</span></a>
            </p>
        </div>
    </li>
    {% endfor %}
</ul>
