<!DOCTYPE html>
<html>
<head>
	<title>SignUp Module</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="static/bootstrap.min.css">
</head>
	<body>
	  <div class="container">
	  <h2>Add User</h2>
	<form action = "/signup" method = "post">
		<div class="form-group">
			<label for="username">Username:</label>
			<input type="text" class="form-control" id="username" placeholder="Enter Username" name="username">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label>
			<input type="password" class="form-control" id="pwd" placeholder="Enter Password" name="password">
		</div>
			<button type="sumbit" class="btn btn-default">Submit</button>
	</form>
		</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
</body>
</html>
